<div class="container">
    <div class="row">
      <div class="col-12 col-sm-2 col-md-2 col-lg-2">
        <crear-curso (cancelEmitter)="onCancel($event)" (myEmitter)="setCurso($event)" (editEmitter)="editCurso($event)" [currentData]="data2Form"></crear-curso>
      </div>
      <div class="col-12 col-sm-10 col-md-10 col-lg-10">
        <lista-curso [cursos]="cursos"></lista-curso>  
      </div>
    </div>
</div>